<footer class="footer">
  <div class="container footer__container">
    <div class="footer__info">
      <div class="logo">
        macaroons
      </div>
      <div class="footer__rights">
        Все права защищены, 2020
      </div>
    </div>
    <a href="{{intagramLink}}" class="footer__social">
      <div class="footer__inst">
        <img src="../../../assets/images/inst.png" alt="Instagram">
      </div>
      <div class="footer__inst-text">
        Мы в Instagram
      </div>
    </a>
    <div class="call footer__call">
            <span class="call__span">
                {{ContactsService.phone}}
            </span>
    </div>
  </div>
</footer>
