<header class="header">
  <div class="container header__container">
    <div class="logo">
      <a href="#" class="header__logo-span">
        macaroons
      </a>
    </div>

    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__list-item">
          <a class="header__link" (click)="navigateToFragment('advantages')">О нас</a>
        </li>
        <li class="header__list-item">
          <a class="header__link" (click)="navigateToFragment('choose')">Пироженки</a>
        </li>
        <li class="header__list-item">
          <a class="header__link" (click)="navigateToFragment('order')">Оформить заказ</a>
        </li>
      </ul>
    </nav>

    <div class="call header__call">
            <span class="call__span">
                {{ContactsService.phone | phoneFormat}}
            </span>
    </div>
    <div class="header__burger" id="burger" (click)="popupSwitch()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40px" height="22px">
        <path fill-rule="evenodd" fill="rgb(130, 19, 40)"
              d="M0.0,0.0 L39.999,0.0 L39.999,1.999 L0.0,1.999 L0.0,0.0 Z"/>
        <path fill-rule="evenodd" fill="rgb(130, 19, 40)"
              d="M0.0,10.0 L39.999,10.0 L39.999,12.0 L0.0,12.0 L0.0,10.0 Z"/>
        <path fill-rule="evenodd" fill="rgb(130, 19, 40)"
              d="M0.0,19.999 L39.999,19.999 L39.999,21.999 L0.0,21.999 L0.0,19.999 Z"/>
      </svg>
    </div>
    <div [class]="'popup-menu' + (isPopupOpen ? ' open' : '')" id="popup-menu">
      <button class="close" (click)="popupSwitch()">
        <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg"
             x="0px" y="0px"
             viewBox="0 0 492 492">
          <g>
            <g>
              <path d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872
              c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872
              c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052
              L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116
              c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952
              c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116
              c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z"/>
            </g>
          </g>
        </svg>
      </button>
      <ul class="popup-menu__list">
        <li class="popup-menu__list-item">
          <a class="popup-menu__link" (click)="navigateToFragment('advantages')">О нас</a>
        </li>
        <li class="popup-menu__list-item">
          <a class="popup-menu__link" (click)="navigateToFragment('choose')">Пироженки</a>
        </li>
        <li class="popup-menu__list-item">
          <a class="popup-menu__link" (click)="navigateToFragment('order')">Оформить заказ</a>
        </li>
      </ul>
    </div>
  </div>
</header>
