<app-header></app-header>

<section class="main">
  <div class="container main__container">
    <div class="main__info">
      <h1 class="main__h1">
        Мягкие французские
        пироженки Macaroons
      </h1>

      <div class="main__text">
        Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!
      </div>

      <div class="main__action">
        <button class="btn main__btn" (click)="scrollTo(choose)">
          Выбрать макарун
        </button>
      </div>
    </div>

    <div class="main__div-picture">
      <img class="main__picture" src="../assets/images/main-picture.png" alt="Big Macaroons">
    </div>
  </div>
</section>

<section class="advantages">
  <div class="container advantages__container">
    <div class="advantages__flex-container-1">
      <div class="advantages__text">
        <h2 class="advantages__h2">
          Мы печём для вас
          вкуснейшие макаруны
          уже более 10 лет
        </h2>
        <div class="advantages__text-text">
          Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов,
          ароматизаторов,
          красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей, маргарина, разрыхлителей
          и
          улучшителей муки.
        </div>
      </div>
      <div class="advantages__picture">
        <img class="advantages__picture-itself" src="../assets/images/white-red-macaroon.png" alt="White red macaroon">
      </div>
    </div>
    <div class="advantages__flex-container-2">
      <app-advantage class="advantage" [advantage]="advantage" [index]="i"
                     *ngFor="let advantage of AdvantagesService.getAdvantages(); let i = index"></app-advantage>
    </div>
  </div>
</section>

<section class="choose" #choose>
  <div class="container">
    <h2 class="choose__h2">
      Выберите свой макарун
    </h2>

    <div class="choose__menu">
      <div class="choose__item" *ngFor="let macaroon of ProductsService.getProducts(); let i = index">
        <div class="choose__picture">
          <img class="choose__picture-itself" src="../assets/images/{{macaroon.imgSrc}}.png" alt="Menu {{i+1}}">
        </div>

        <div class="choose__name">
          {{macaroon.title}}
        </div>

        <div class="choose__order">
          <div class="choose__order-info">
            <p class="choose__number">
              1 шт.
            </p>
            <p class="choose__price">
              {{macaroon.price}} руб.
            </p>
          </div>
          <div class="choose__action">
            <button class="btn choose__btn" (click)="orderItem(order, macaroon)">
              Заказать
            </button>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>

<section class="order" #order>
  <div class="container order__container">
    <div class="order__image">
      <img class="order__image-main" ngSrc="../assets/images/order-main.png" alt="Order Main" height="490" width="408">
      <img class="order__image-str-1" ngSrc="../assets/images/order-strawberry-1.png" alt="Strawberry 1" height="101"
           width="82">
      <img class="order__image-str-2" ngSrc="../assets/images/order-strawberry-2.png" alt="Strawberry 2" height="66"
           width="50">
    </div>
    <div class="order__form">
      <h2 class="order__h2">
        Закажите макарун!
      </h2>
      <div class="order__text">
        Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
      </div>

      <form class="order__form">
        <p class="order__prompt">
          Ваш выбор
        </p>
        <input class="order__input" required="required" type="text" name="customerOrderTitle"
               placeholder="Напишите, что хотите заказать..." [(ngModel)]="formValues.customerOrderTitle">
        <p class="order__prompt">
          Заполните данные для заказа
        </p>
        <input class="order__input" required="required" type="text" name="customerName" placeholder="Ваше имя"
               [(ngModel)]="formValues.customerName">
        <input id="online_phone" class="order__input" required="required" type="tel"
               placeholder="+375 (__) ___ - __ - __" name="customerPhone" [(ngModel)]="formValues.customerPhone">
        <div class="oder__action">
          <button class="btn order__btn" (click)="orderDone()">
            Выбрать макарун
          </button>
        </div>
      </form>
    </div>
  </div>
</section>

<div class="present" *ngIf="showPresent">
  <div class="present__text">
        <span>
          3,40 руб.
        </span>
  </div>
  <div class="present__image">
    <img ngSrc="../assets/images/cart.png" alt="Cart" width="30" height="30">
  </div>
  <div id="cart-number">5</div>
</div>


<app-footer></app-footer>
